body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #f4f4f4;
}

.card {
  background-color: whitesmoke;
  border-radius: 12px;
  border-color: #333;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  cursor: pointer;
}

.navbar {
  background-color: whitesmoke;
  overflow: hidden;
}

.navbar a, .navbar button {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar img {
  display: block;
  margin: 0 auto; /* Center the image */
  max-width: 100%;
  height: auto;
}

.navbar button {
  float: right;
  background-color: #333;
  color: #f2f2f2;
  border: none;
  cursor: pointer;
}
.card .form-check-input:checked + .form-check-label::before {
  background-color: #3333; /* Change this to your desired color for the slider */
}
@media screen and (max-width: 600px) {
  .navbar a, .navbar button {
    float: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
  }

  .navbar button {
    text-align: right;
  }
}


