body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #f4f4f4;
}

.card {
  background-color: rgb(187, 187, 231);
  border-radius: 12px;
  border-color: #333;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.navbar {
  background-color: whitesmoke;
  overflow: hidden;
}

.navbar a, .navbar button {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar {
  border-radius: 12px;
}
.navbar img {
  display: block;
  margin: 0 auto; /* Center the image */
  max-width: 100%;
  height: auto;
}

.navbar button {
  float: right;
  background-color: #333;
  color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.card .form-check-input:checked + .form-check-label::before {
  background-color: #3333; /* Change this to your desired color for the slider */
}

.navbar .event-btn {
  background-color: #3f3b3b; /* Use any color you like */
  border-radius: 5px;
  color: #fff; /* This is white color for the text */
  transition: background-color 0.3s ease; /* This is for the hover effect */
}

.navbar .event-btn:hover {
  background-color: #3f3b3bcb; /* This is a darker shade of the original color for the hover effect */
}

@media screen and (max-width: 600px) {
  .navbar a, .navbar button {
    float: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 10px; /* Adjust padding for better spacing on mobile */
  }

  .navbar button {
    text-align: right;
    margin-top: 10px; /* Add margin for better spacing on mobile */
  }
}


.futuristic-bg {
  background: linear-gradient(180deg, #668491, #5d94a7, #6684FF); /* Gradient background for a futuristic feel */
  color: #fff; /* White text for contrast */
}
